.from-ingredient-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    margin-top: 5%;
    margin-bottom: 5%;

    .empty-drink {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 80%;

        img {
            width: 40%;
        }
    }

    .from-ingredient-card-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;

        width: 100%;

        .from-ingredient-card {
            display: flex;
            justify-content: space-between;
            padding: 5%;
            align-items: center;
    
            width: 70%;
    
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    
            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            }
    
            img {
                width: 150px;
                border-radius: 200px;
            }
        }
    }
}
